<div class="container">
  <h1>Add Post</h1>
  <h4>See, the thing is, you can't REALLY edit it yet.<h4>
        <form action="/add" method="POST" id="add">  
          <label for="title">Title</label>
          <input id="title" type="text" name="post[title]" placeholder="Title" ><br>
          <label for="post_body"><br>Post Body:<br>
          <textarea rows="10" cols="50"  name="post[body]" type="text"> </textarea><br>
          <br><label for="author">Author: </label>
          <input id="author" type="author" name="post[author]" placeholder="author name"><br>
          <br>
          <label for="tags">Tags:</label>
          <input id="tags" type="text" name = "tag[name]" placeholder="Tags separated by spaces" ><br>
          <input type="Submit">
        </form>
</div>
